<div class="row">
  <div class="col-md-12">
    <p><%= link_to new_post_path, remote: true, id: "new_chip", class: "btn btn-sm btn-info" do %><i class="fa fa-pencil"></i> New Post<% end %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <% if @posts.any? %>
      <hr>
      <h2>Posts:</h2>
      <div id="posts">
        <%= render @posts %>
      </div>
    <% else %>
      <h2 id="no_posts">No posts, yet!</h2>
      <div id="posts"></div>
    <% end %>
  </div>
</div>
